.nav-bar {
    background-color: white;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.dropdown-trigger {
    display: flex;
}

.dropdown-trigger:hover {
    cursor: pointer;
    color: #005CFF;
}

.categories-menu-icon {
    width: 15px !important;
    object-fit: contain;
    padding-right: 10px;
}

.dropdown-trigger:hover .categories-menu-icon {
    filter: invert(27%) sepia(99%) saturate(3486%) hue-rotate(196deg) brightness(96%) contrast(96%);
}

/* categories menu */

.categories-mega-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 77vw;
    height: 384px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown.open .categories-mega-menu {
    display: flex;
}

.categories-menu-columns {
    position: relative;
    display: flex;
    flex: 3;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    overflow-x: hidden;
}

.categories-menu-columns h4 {
    color: #007bff;
    font-size: 14px;
    margin-bottom: 17px;
}

.categories-menu-columns ul {
    margin: 0;
    list-style: none;
    font-size: 14px;
    color: #555;
}

.categories-menu-columns ul li {
    margin-bottom: 0;
    font-weight: 400;
    margin-bottom: 15px;
}

.department-dropdown-container {
    display: flex;
    gap: 127px;
    padding: 8px 24px;
    width: 65%;
    overflow-x: auto;
    border: 10px solid transparent;
}

.department-dropdown-container li:hover {
    cursor: pointer;
    color: #005CFF;
}

.department-dropdown-container::-webkit-scrollbar {
    height: 3px;
}

.department-dropdown-container::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.department-dropdown-container::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 10px;
    border: none;
}

.department-dropdown-container::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.submenu {
    display: flex;
    position: absolute;
    top: -20px;
    left: calc(100% + 30px);
    background-color: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    justify-content: space-around;
}

.has-submenu {
    display: flex;
    justify-content: space-between;
}

.has-submenu img {
    width: 5px !important;
    object-fit: contain;
}

.has-submenu:hover .has-submenu-icon {
    filter: invert(27%) sepia(99%) saturate(3486%) hue-rotate(196deg) brightness(96%) contrast(96%);
}

.has-submenu:hover p {
    color: #005CFF;
}

.has-submenu:hover>.submenu {
    display: flex;
}

.has-submenu>.dropdown-trigger {
    padding: 5px 0;
}

.departments-list {
    position: relative;
    background-color: #F5F5F5;
    padding: 10px 6px;
    width: 15%;
    overflow-y: scroll;
    border: 10px solid transparent;
}

.departments-list::-webkit-scrollbar {
    width: 3px;
}

.departments-list::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 6px rgba(161, 161, 161, 0.2);
    border-radius: 10px;
}

.departments-list::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 10px;
    border: none;
}

.departments-list::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

/* menus */

.department-menu-template {
    display: none;
}

.mega-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 77vw;
    height: 384px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown.open .mega-menu {
    display: flex;
}

.mega-left {
    width: 80%;
    padding: 25px 25px;
}

.dropdown-header {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 17px;
}

.menu-columns {
    position: relative;
    display: flex;
    gap: 127px;
    flex: 3;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.menu-columns h4 {
    color: #007bff;
    font-size: 14px;
    margin-bottom: 18px;
}

.menu-columns ul {
    margin: 0;
    list-style: none;
    font-size: 14px;
    color: #555;
}

.menu-columns ul li {
    margin-bottom: 15px;
    font-weight: 400;
}

.menu-columns li:hover {
    cursor: pointer;
    color: #005CFF;
}

/* menu promo */

.menu-promo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    width: 20%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 10px;
    z-index: 1;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.promo-text {
    position: absolute;
    top: 55px;
    left: 27px;
    right: 120px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    z-index: 1000;
}

.promo-text span {
    font-weight: 700;
}

.promo-text button {
    margin-top: 35px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 29px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Heebo", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.promo-text button:hover {
    color: black;
    background-color: white;
}

@media (max-width: 1860px) {
    .menu-promo {
        width: 23%;
    }
}

@media (max-width: 1730px) {
    .menu-promo {
        width: 26%;
    }
}

@media (max-width: 1600px) {
    .menu-promo {
        width: 35%;
    }

    .departments-list {
        width: 30%;
    }

    .mega-left {
        width: 90%;
    }
}

@media (max-width: 1450px) {
    .menu-promo {
        width: 45%;
    }

    .departments-list {
        width: 30%;
    }
}

@media (max-width: 1200px) {
    .menu-promo {
        width: 65%;
    }

    .departments-list {
        width: 50%;
    }

    .mega-left {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .promo-text {
        right: 70px;
    }
}

@media (max-width: 915px) {
    .nav-bar {
        display: none;
    }
}